<h1>Sistema de Gerenciamento de vagas</h1>
<h3>Bem vindo</h3>
<br>
<p><strong><%= link_to 'Visualizar Vagas', jobs_path %></strong></p>

<p><% unless user_signed_in? %>
        <strong><%= link_to 'Corporativo', new_user_session_path %></strong>
   <% end %>
</p>


