<h1>Painel da empresa <%= "#{@company.name}" %> </h1><br>
<p>Domínio <%= "#{@company.domain}" %></p><br>
<h3><%= link_to 'Cadastrar oferta de vagas', new_company_job_path(@company) %></h3>
<p><h2>Vagas Cadastradas</h2></p>

<%= render @company.jobs %>




